{% extends "base.html" %}

{% block announce %}
{% if config.theme.language == 'en' %}
Welcome! If you have unanswered questions after reading the documentation let me know, I'll answer on them.
{% elif config.theme.language == 'ru' %}
Привет! Если после прочтения документации возникнут вопросы, пишите, отвечу. 
{% else %}
Welcome!
{% endif %}
{% endblock %}

{% block htmltitle %}
{% if page and page.meta and page.meta.title_override %}
<title>{{ page.meta.title_override }}</title>
{% elif page and page.meta and page.meta.title %}
<title>{{ page.meta.title }} - {{ config.site_name }}</title>
{% elif page and page.title and not page.is_homepage %}
<title>{{ page.title | striptags }} - {{ config.site_name }}</title>
{% else %}
<title>{{ config.site_name }}</title>
{% endif %}
{% endblock %}